.edtr{
    text-align: center;
    width: 100;
}
.cont{
    background-color:black;
    width: 90vw;
    height: 80vh;
    display: inline-block;
    padding-top: 3vh;
    margin-top:0.5vh;
    text-align: center;
    border-radius: 3%;
}
.view{
    background-color:black;
    width: 100%;
    height: 88%;
    text-align:center;
   display: inline-block;
   border: 3px dashed white; 
     border-spacing: 5px;
}

#up{
 position: relative;
}

img{
    max-width: 100%;
    text-align: center;
    max-height: 100%;
    display: inline-block;
    z-index: 2;
}

.intxt{
    text-align: center;
    margin-top: 25vh;
    font-size:x-large;
}
.container{
    display: inline-block;
}

.t_box{
    width:100vw;
    height: 10vh;
    position:absolute;
    text-align: center;
    bottom:0;
    color: white;
    background-color: black;
    color: white;

}



.dropbtn {
    background-color: transparent;
    color: white;
    font-size:1vw;
    border: none;
    outline: none;
  }
  .dropbtn:focus{
    outline: none;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropup-content {
    display: none;
    position:absolute;
    background-color: transparent;
    min-width: 10vw;
    bottom:2vw;
    z-index: 1;
  }
  
  
  
  .dropup-content a:hover {background-color: transparent}
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  
  
  
  
  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5vh;
    margin-bottom: 25px;
    border-radius: 5px;
    background: white;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider:active{
    outline: none;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(82, 216, 250);
    cursor: pointer;
  }
  #h{
    color: rgb(82, 216, 250);
display: inline-block;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(82, 216, 250);
    outline: none;
  }